<div class="nav-wrapper">
  <!-- Hamburger -->
  <div class="menu-icon">
    <svg
      (click)="toggleMenu()"
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16">
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </svg>

    @if (!isMenuOpen()) {
    <span class="label">{{ category() }}</span>
    }
  </div>

  <div class="nav-header" [class.open]="isMenuOpen()">
    @for (menu of menuLinks(); let i = $index; track menu.label) {
    <div class="menu" (click)="showGames(i)">
      <span class="menu-link" [class.active]="selectedIndex() === i">{{ menu.label }}</span>
    </div>
    }
  </div>
</div>
